*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}
html{
    font-size:62.5%;
}
.header{
    width: 100%;
    height: 100vh; 
    position: relative;
    perspective: 100rem;
    overflow:hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: right;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
}
.menu {
    display: flex;
}
.menu li a{
 padding: 12px 15px;
 color: black;
 font-size: 17px; 
 text-decoration: none; 
}
.lang{

 color:#292929;
}
.menu li a:hover,
.active{
 background-color: black;
 color:#FFFFFF;
 font-weight: 700;
 transition: all ease 0.4s;
}
.page{
     width:100%;
     height:100%;
     background-color: rgba(0,0,0,0.058);
     overflow:hidden;
}
.page img{
    width: 100%;
    height:100%;
    object-fit: cover;
    opacity: 0.7;
    animation: scale 25s;
    


}
@keyframes scale{
    0% {transform: scale(1.3);

}
100%{
    transform:scale(1);

}
}
.banner{
    position:absolute;
    top: 30%;
    left: 15%;

}
.banner h1{
    font-family:'Baloo Da 2',serif;
    font-size:11rem;
    font-weight: 300;
    color:palevioletred;
    width: 100%;
    line-height: 7rem;
    letter-spacing: 0.6rem;
    text-shadow:0.3rem .5rem whitesmoke ;
    opacity: 0;
    animation: moveBanner 1s .2s forwards;

}
.banner p{
    font-family: 'Josefin Slab',serif;
    font-size: 3rem;
    color: #fff;
    width:70%;
    letter-spacing: 0.1rem;
    position: center;
    margin-bottom: 3rem;
    text-shadow: 0.3rem .5rem rgba(0,0,0,0.04);
    opacity:0;
    animation: moveBanner 1s .3s forwards;
}
.banner button{
    width: 25rem;
    height: 7rem;
    background-color: pink;
    border: none;
    font-family: 'Muli', serif;
    font-size: 2rem;
    text-transform: uppercase;
    color:#fff;
    text-shadow: 0.2rem .4rem rgba(0,0,0,0.2);
    box-shadow: 0.3rem .5rem rgba(0,0,0,0.4);
    cursor:pointer;
    opacity: 0;
    animation: moveBanner 1s .4s forwards;

}



ul{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 40px;

    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
}
.menu {
       display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: white;
    font-size: 12px; 
    text-decoration: none; 
    
}
.lang{
   
    color:#292929;
}
.logo{
    font-size: 15px;
    font-weight: bold;
    color:#292929;
    font-family: Poppins;
}
.menu li a:hover,
   .active{
    background-color: black;
    color:pink;
    font-weight: 700;
    transition: all ease 0.4s;
}

.salon-styles{
    width:3rem;
    height:3rem;
    background-color:pink;
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 200;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;

}
.line{
    width:100%;
    height:.2rem;
    background-color: white;
    box-shadow: 0.1rem .2rem rgba(0,0,0,0.8);

}
@keyframes moveBanner{
    0% {
        transform:translateY(40rem) rotate(-20deg);
}
100%{
    transform:translateY(0)
    rotateY(0);
    opacity:1;
}
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  .gallery:hover {
    border: 1px solid #777;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
 .desc {
    padding: 15px;
    text-align: center;
  }
  #albums{
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1ed;
    position:relative;
    background-image: url("ni.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .album h1{
    font-family:'Baloo Da 2',serif;
    font-size:9rem;
    font-weight: 200;
    color:black;
    width: 100%;
    line-height: 7rem;
    letter-spacing: 0.6rem;
    text-shadow:0.3rem .5rem whitesmoke ;
   
  }
 
  
  .wrappers {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
  }
  
  .wrappers IMG {
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all .25s;
  }

@media screen and (max-width: 600px) {
    .banner h1 {
      font-size: 2.5rem;
    }
    .banner p{
        font-size: 2rem;
    }
  }
